body {
    background-color: #0E0B16;
    color: #E7DFDD;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #0E0B16;
    color: #E7DFDD;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-weight: 700;
    text-shadow: 0 0 10px #A239CA, 0 0 20px #4717F6;
}

#page-title {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 10px #A239CA, 0 0 20px #4717F6, 0 0 30px #A239CA;
}

.box {
    border: 5px #A239CA solid;
    border-radius: 5px;
    box-shadow: 5px 5px #4717F6;
    justify-self: center;
}

#screen {
    background-color: #0E0B16;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#game-area {
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
}

#player-choices {
    width: 35%;
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    text-shadow: 0 0 10px #A239CA, 0 0 20px #4717F6;
}

#scoreboard {
    width: 35%;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
}

#player-score,
#computer-score {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-left: 50px;
    text-shadow: 0 0 10px #A239CA, 0 0 20px #4717F6;
}

#player-score-board,
#computer-score-board {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-right: 50px;
}


#results-area {
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 5% 5%;
    text-align: center;
    justify-items: center;
    text-shadow: 0 0 10px #A239CA, 0 0 20px #4717F6
}

#results-box {
    text-shadow: none;
    font-size: 20px;
}

#fight-graphic {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding 3px;
}

.icon {
    height: 100px;
    width: 100px;
    padding: 5px;
}

.button {
    display: flex;
    flex-flow: column;
}

.graphic-icon {
    height: 100px;
    width: 100px;
    padding: 5px;
}

#computer-graphic {
    transform: scaleX(-1);
}

#reset-button {
    font-size: 16px;
}