#game-area {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#player-choices {
    border: 5px black solid;
    width: 50%;
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
}

#scoreboard {
    border: 5px black solid;
    width: 50%;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 10px;
}

#results-area {
    border: 5px black solid;
    width: 80%;
    height: 200px;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
}

#fight-graphic {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.icon {
    height: 50px;
    width: 50px;
}

.button {
    display: flex;
    flex-flow: column;
}

.graphic-icon {
    height: 100px;
    width: 100px;
    border: 2px black solid;
}